[Desktop Entry]
Categories=Development;
Exec=gitbutler-tauri %U
Icon=com.gitbutler.app
Name=GitButler
MimeType=x-scheme-handler/gitbutler;
Terminal=false
Type=Application
